html {
  width: 100%;
  height: 100%;
  font-size: $font-size-base;
}

/* Space out content a bit */
body {
  padding: 0px;

  height: 100%;
  // background: darken($body-bg, 10%);
  // color: #fff;

  html.mobile & {
    // chrome scroll up
    -webkit-overflow-scrolling: touch;
    height: 120vh;
  }

}

a, a:hover {
  color: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  text-transform: uppercase;
  color: $headings-color;
  $shadow-color: #000;
  text-shadow: 3px 3px 0px fade-out($shadow-color, 0.9)
         , 2px 2px 0px fade-out($shadow-color, 0.9)
         , 1px 1px 0px fade-out($shadow-color, 0.9)
         ;
}

em {
  font-family: $font-family-serif;
}

p a {
  text-decoration: underline;
}

// ------------------------------------------------------ states

.ng-hide-visibility {
  visibility: visible;
  &.ng-hide {
    display: block!important;
    visibility: hidden;
  }
}

@include text-emphasis-variant('.text-primary', $brand-primary);
@include text-emphasis-variant('.text-success', $brand-success);
@include text-emphasis-variant('.text-info', $brand-info);
@include text-emphasis-variant('.text-warning', $brand-warning);
@include text-emphasis-variant('.text-danger', $brand-danger);


// ------------------------------------------------------ icons
.icon {
  vertical-align: middle;
  // pixel perfect
  font-size: 16px;
  display: inline-block;
  margin-top: -2px;
  &:before {
  }
}

.icon-rotate-90 {
  &:before {
    transform: rotate(90deg);
    display: inline-block;
  }
}

.icon-loading {
  @extend .icon-loop;
  animation: 1s icon-rotate linear infinite;
}

.accelerate {
  backface-visibility: hidden;
}

.margin {
  margin-top: $padding-base-vertical;
  margin-bottom: $padding-base-vertical;
}
.margin-top {
  margin-top: $padding-base-vertical;
}
.margin-lg {
  margin-top: $padding-large-vertical;
  margin-bottom: $padding-large-vertical;
}
.margin-top-lg {
  margin-top: $padding-large-vertical;
}

// ------------------------------------------------------ elements

// buttons
.btn {

  border-bottom-width: 2px;


  &:focus, &:active {
    outline: 0!important;
  }
  &.active {
    box-shadow: none; //inset 0px 0px 8px rgba(0,0,0,0.2);
  }
  i.icon {
    margin-right: 0.5em;
  }
  &.btn-icon {
    .icon {margin: 0;}
  }

  &.btn-default {
    border-color: $btn-default-color;
    background: $brand-neutral-vdark;
    &:hover {
      // background: fade-out($btn-default-bg, 0.5);
      color: #fff;
    }
    &.active {
      // background: $btn-default-color;
      // color: $btn-default-bg;
    }
  }

  i.icon-checkbox {
    @extend .icon-no;
  }
  &.active {
    i.icon-checkbox {
      @extend.icon-yes;
    }
  }


}

.btn-group {
  &>.btn:not(:first-child) {
    border-left: 0;
  }
}

.btn-group-unjustified {
  @extend .btn-group-justified;
  table-layout: auto;
  >.btn {
    width: auto;
    &.long {
      width: 60%;
    }
  }
}


// links
.link-icon {
  font-size: 16px;
  cursor: pointer;
}

.link-share {
  @extend .link-icon;
  font-size: 32px;
  background: #fff;
  border-radius: 0.2em;
  line-height: 150%;
  margin: 0em 0.1em;

  &.icon-facebook {
    color: $facebook-color; 
  }
  &.icon-googleplus {
    color: $google-color; 
  }
  &.icon-twitter {
    color: $twitter-color; 
  }

}

.close {
  opacity: 0.8;
  color: $text-color;
  text-shadow: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  outline: 0!important;
  &:hover {
    opacity: 1;
    color: $text-color;
  }
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

// ------------------------------------------------------ components

logo {
  display: inline-block;
  text-transform: lowercase;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;

  letter-spacing: -0.03em;
  line-height: 0.6em;
  height: 1em;
  padding: 0.11em 0.12em 0.11em 0.09em;

  vertical-align: middle;

  span {
    font-size: 0.8em;
    vertical-align: bottom;
  }

  @mixin logo-color($color) {
    color: $color;
    border: 0.11em solid $color;

    $shadow-color: fade-out($color, 0.9);
    $shadow-size: 0.03em;
    box-shadow: inset 0px 0px 0px $shadow-size * 1 $shadow-color,
                inset 0px 0px 0px $shadow-size * 2 $shadow-color,
                inset 0px 0px 0px $shadow-size * 3 $shadow-color,
                inset 0px 0px 0px $shadow-size * 4 $shadow-color,
                inset 0px 0px 0px $shadow-size * 5 $shadow-color
                // inset 0px 0px 0px $shadow-size * 6 $shadow-color,
                // inset 0px 0px 0px $shadow-size * 7 $shadow-color
                ;
  }

  @include logo-color($brand-primary);

  &.white {
    @include logo-color($text-color);
  }

}


// modal
.modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-header {
  background: $panel-header-bg;
  color: $text-color;
  border-bottom:$border-width solid $panel-header-border;
  padding: $padding-large-vertical $padding-large-vertical;
  .modal-title {
    color: inherit;
  }
  .icon-back {
    padding-right: 0.5em;
    cursor: pointer;
  }
}
.modal-body {
  padding: $padding-large-vertical $padding-large-horizontal;
  overflow-y: auto;
  overflow-scrolling: touch;
}
.modal-footer {
  background: $panel-footer-bg;
  color: $panel-footer-color;
  padding: 0;
  border: 0;
  .btn {
    @extend .btn-lg;
    + .btn {
      margin-left: -2px;
    }
  }
  // border-bottom:$border-width solid $panel-footer-border;
}
.modal-content {
  box-shadow: 0 0 32px #000;

}
@media #{$media-mobile} {

  .modal-backdrop {
    display: none!important;
  }
  .modal {
    overflow: hidden;
  }
  .modal-dialog {
    height: 100.5%;
    margin: 0 -1px;
  }
  .modal-content {
    height: 100%;
    box-shadow: none;
  }
  .modal.fade .modal-dialog {
    transform: translateX(100%);
    opacity: 1;
  }
  .modal.fade.in .modal-dialog {
    transform: translateX(0%);
  }
  .modal-header {

  }
  .modal-body {
    position: absolute;
    width: 100%;
    top: 56px;
    bottom: 0px;
  }
  .modal-footer {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
}

// popups
.popup-clicker {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 60;
}
.popup {
  z-index: 61;
  position: absolute;
  width: 100%;
  max-width: remify(400px);
  text-align: center;
  bottom: 0;
  background: $body-bg;
  // background-image: linear-gradient(to bottom, fade-out($body-bg, 0.1),fade-out($body-bg, 1) remify(100px));

  left: 50%;
  padding: $padding-base-vertical;

  transform: translateX(-50%);

  @extend .anim-slideup-centered;
  .zen-mode & {
    transform: translate(-50%, 100%) translateY(remify(60px));
  }

  .close {
    padding: remify(10px);
    box-sizing: content-box;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .popup-header {
    @extend h4;
    color: $text-color;
    // font-size: 1rem;
    background: transparent;// $brand-neutral-dark;
    padding: $padding-base-vertical;
    margin-top: -$padding-base-vertical;
    margin-bottom: $padding-base-vertical;
  } 

  .popup-footer {
    margin-top: $padding-base-vertical;
    margin-bottom: 0;
  }

  .btn-block, .option {
    margin: $padding-small-vertical 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

}


// options
.option {
  white-space: nowrap;

  label {
    // color: lighten($body-bg, 70%);
    font-weight: normal;
    font-size: 0.9em;
    margin: 5px 0 0 0;
    display: block;
  }

  .btn-default {
    // background: transparent; //fade-out($btn-default-bg, 0.9);
    color: $brand-neutral-bright;
    &:hover {
      // background: fade-out($btn-default-color, 0.5);
      // color: $te;
    }
    &.active {
      color: #fff;
    }
  }

}

// thumbnail
.thumbnail {
  display: inline-block;
  margin-bottom: 10px;
  border-width: $border-width;
  img {
    background: $thumbnail-matte;
    max-height: 70%;
  }
  h3, h4, h5 {
    font-size: 1rem;
    background: $brand-neutral-dark;
    color: $text-color;
    padding: $panel-heading-padding;    
  }
}

.thumbnails-set {
  text-align: center;
  .thumbnail {
    display: inline-block;
    max-width: 47%;
    margin: 4px;
  }
}
