header {
  padding: 2em 0 2em 0;
  background: $body-bg;
  // color: #fff;
  .container {
    max-width: 650px;
  }

  .notice {
    opacity: 0.5;
  }
  .file-select {
    margin-top: 2em;
    position: relative;
    .btn-success {
      position: relative;
      z-index: 2;
      transition: all 0.5s ease;
    }
    .progress {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      width: 14em;
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 0;
      transition: all 0.5s ease;
    }
    &.processing {
      .btn-success {
        opacity: 0;
        visibility: hidden;
      }
      .progress {
        opacity: 1;
      }
    }
  }

  .gallery {
    margin-top: 2em;
    
     img {
      cursor:pointer;
      width: 80px;
      height: 80px;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      margin-bottom: 0.3em;
     }
  }
}

#error {
  $error-bg: darken($brand-danger, 35%);
  background: linear-gradient(to bottom, darken($error-bg, 4%) 0%,$error-bg 2em);
  border-top: 1px solid lighten($error-bg, 2%);
  text-align: center;
  padding: 2em;
  overflow: hidden;
  transition: all 0.5s ease;
  max-height: 200px;

  h2 {
    color: $brand-danger;
  }
  a {
    margin-top: 1em;
  }

  &.ng-hide {
    max-height: 0px;
    display: block!important;
    padding: 0;
    border-top-width: 0;
  }

}

#file {
  // background: #125267;
  background: linear-gradient(to bottom, darken($body-bg, 12%) 0%,darken($body-bg, 8%) 2em);
  border-top: 1px solid lighten($body-bg, 0%);
  text-align: center;
  padding: 2em 0em;
  position: relative;
  // min-height: 80vh;



  .images {
    // line-height: 80vh;
    // padding: 1em 0;
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1em 0;

    html.touch & {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }



    .image {
      display: inline-block;
      position: relative;
      margin: 0em 1em;
      img {
        max-width: 70vw;
        max-height: 80vh;
        // max-width: 100%;
        width: auto;
        height: auto;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
      }

      &+.image {
      }
    }

  }


}

#viewer {
  background: linear-gradient(to bottom, darken($body-bg, 8%) 0%,darken($body-bg, 5%) 2em);
  border-top: 1px solid lighten($body-bg, 6%);
  padding: 2em 0;

  .depthy-viewer {
    position: relative;
    margin: 0 auto 2em auto;
    overflow: hidden;
  }
  canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    pointer-events: none;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }

  html.no-webgl canvas {
    display: none;
  }

  .buttons-options {
    &>button {
      width: 90px;
    }
    .button-group {
      button {
        width: 90px - 34px;
      }
      button + button {
        width: 34px;
      }
    }
  }

  .button-animate {
    .popover {
      min-width: 250px;
    }
  }

  .button-export {
    margin-top: 1em;
    .popover {
      transform: translate(-50%, -100%) translateY(55px);
    }
  }

}

footer {
  background: linear-gradient(to bottom, darken($body-bg, 14%) 0%,darken($body-bg, 10%) 2em);
  border-top: 1px solid lighten($body-bg, 0%);
  color: fade-out(#fff, 0.6);
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: fade-out(#fff, 0.4);
    }    
  }
}

.export-modal {
  .progress {
    width: 50%;
  }
  .export-progress {
    margin: 3em auto;
  }
  .export-image {
    max-width: 80vw;
    max-height: 50vh;
    margin-bottom: 1em;
    box-shadow: 1px 1px 2px #000;
  }
}