

#app {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#main {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}


// ------------------------------------------------------ NAVBAR
#navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: remify($navbar-height);
  z-index: 40;
  transition: all 0.5s ease-in-out;
  
  @extend .accelerate;


  &:before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: remify(60px);
    pointer-events: none;
    background: linear-gradient(to top, fade-out($body-bg, 1),fade-out($body-bg, 0.7) 70%,fade-out($body-bg, 0.6) 100%);
  }

  logo {
    position: absolute;
    left: $padding-large-vertical;
    top: $padding-large-vertical;
    width: 5em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    .leftpane-gallery & {
      transform: translateX(remify($gallery-width)) translateX(-5px);
    }

  }

  .zen-mode & {
    transform: translateY(-100%) translateY(-40px);
  }

}

#hamburger {
  cursor: pointer;
  font-size: 16px;
  position: fixed;
  left: -10px;
  top: $padding-large-vertical + 2px;
  z-index: 60;
  width: 2em;

  transition: all 0.5s ease-in-out;

  .leftpane-opened &, .leftpane-gallery & {
    transform: translateX(10px);
  }
  .zen-mode & {
    transform: translateX(-100%);
  }
}

// ------------------------------------------------------ LEFTPANE
#leftpane {
  position: absolute;
  left: 0px;
  top: 0px; //remify($navbar-height);
  width: remify($leftpane-width);
  bottom: 0px;
  max-width: 100%;
  z-index: 50;
  background: $leftpane-bg;

  transition: all 0.5s ease-in-out;
  transform: translate3d(-100%, 0, 0);

  @extend .accelerate;


  .leftpane-opened & {
    transform: translate3d(0, 0, 0);
  }

  .leftpane-gallery & {
    transform: translateX(-100%) translateX(remify($gallery-width));
  }

  .zen-mode & {
    transform: translateX(-100%) translateX(-20px);
  }

}

// ------------------------------------------------------ ABOUT
#about {
  position: absolute;
  height: 100%;
  left: 0px;
  right: remify($gallery-width);

  padding: $padding-large-horizontal;
  padding-top: $padding-large-vertical;

  oveflow-y: auto;
  // color: #fff;

  header {
    text-align: center;
  }

  logo {
    width: 100%;
    // font-size: 5em;
    margin-bottom: 2rem;
  }

  .container {
    max-width: 650px;
  } 

  .notice {
    opacity: 0.5;
  }
  .button-open {
    margin-top: 2em;
  }

  footer {
    color: fade-out($text-color, 0.6);
    text-align: center;
    margin-top: 4em;
    font-size: 0.9em;
    a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        color: fade-out(#fff, 0.4);
      }    
    }
  }



  &:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: remify($gallery-width);
    background: linear-gradient(to left, fade-out($body-bg, 1),fade-out($body-bg, 0.85) 90%,fade-out($body-bg, 0.6) 100%);
    transition: all 0.5s ease-in-out;
    transform: translateX(0);
    z-index: 1;
    pointer-events: none;

    .leftpane-opened & {
      transform: translateX(100%);      
    }
  }


}

// ------------------------------------------------------ SAMPLES
#gallery {
  // display: none;
  position: absolute;
  height: 100%;
  right: 0px;
  width: remify($gallery-width);
  background: $gallery-bg;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    cursor:pointer;
    width: remify($gallery-width);
    height: remify($gallery-width);
    background-position: 50% 50%;
    background-size: cover;
  }

  
  &:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: remify(10px);
    background: linear-gradient(to left, fade-out($body-bg, 1),fade-out($body-bg, 0.9) 90%,fade-out($body-bg, 0.6) 100%);
    transition: all 0.5s ease-in-out;
    transform: translateX(0);

    .leftpane-opened &, .leftpane-gallery & {
      transform: translateX(100%);      
    }
  }
  

}

// ------------------------------------------------------ VIEWER
#viewer {
  z-index: 1;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  transition: all 0.5s ease-in-out;

  .alerts {
    position: absolute;
    // width:100%;
    // width: remify(400px);
    // max-width: 80%;
    left: $padding-base-vertical;
    right: $padding-base-vertical;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 10;
    transition: all 0.5s ease-in-out;

    .zen-mode & {
      opacity: 0;
    }    
  }

  .depthy-viewer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    .icon-loading {
      font-size: 32px;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1em;
      line-height: 1em;
      text-align: center;
      margin-left: -0.5em;
      margin-top: -0.5em;
      z-index: 2;

      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease;

      .depthy-loading & {
        transition: all 0.2s 0.2s ease;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    pointer-events: none;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);

    transition: all 0.2s ease-in-out;
    opacity: 0;
    .depthy-ready & {
      opacity: 1;
    }

    html.no-webgl & {
      display: none;
    }
  }

  .buttons-options {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: remify(30px) 0;
    text-align:center;
    z-index: 20;
    transition: all 0.5s ease-in-out;

    background: linear-gradient(to bottom, fade-out($body-bg, 1),fade-out($body-bg, 0.7) 70%,fade-out($body-bg, 0.6) 100%);

    .btn {
      i.icon {
        margin: 0px;
      }
      // margin: 0 $padding-small-horizontal;
      padding: $padding-large-vertical $padding-large-horizontal;
      // background: transparent;
      text-shadow: 1px 1px 0px fade-out(#000, 0.8);
      &:after {
        // content: attr(title);
      }

    }


    .zen-mode &, &.ng-hide {
      display: block!important;
      transform: translateY(100%) translateY(remify(60px));
    }

  }


  .leftpane-gallery & {
    transform: translateX(remify($gallery-width / 2));
  }
  
  @media #{$media-desktop} {
    .leftpane-opened & {
      transform: translateX(remify($leftpane-width / 2));
    }
  }

  .zen-mode & {
    transform: translateX(0);
  }
}


// ------------------------------------------------------ MODAL




