

#app {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#main {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}


// ------------------------------------------------------ NAVBAR
#navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: remify($navbar-height);
  z-index: 40;
  transition: all 0.5s ease-in-out;
  
  @extend .accelerate;


  &:before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: remify(60px);
    pointer-events: none;
    background: linear-gradient(to top, fade-out($body-bg, 1),fade-out($body-bg, 0.7) 70%,fade-out($body-bg, 0.6) 100%);
  }

  logo {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: remify($navbar-height);
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    .leftpane-samples & {
      transform: translateX(remify($samples-width)) translateX(-10px);
    }

  }

  .zen-mode & {
    transform: translateY(-100%) translateY(-40px);
  }

}

#hamburger {
  cursor: pointer;
  font-size: 32px;
  position: fixed;
  left: -16px;
  top: 0px;
  z-index: 60;
  width: 2em;

  transition: all 0.5s ease-in-out;

  .leftpane-opened &, .leftpane-samples & {
    transform: translateX(10px);
  }
  .zen-mode & {
    transform: translateX(-100%);
  }
}

// ------------------------------------------------------ LEFTPANE
#leftpane {
  position: absolute;
  left: 0px;
  top: 0px; //remify($navbar-height);
  width: remify($leftpane-width);
  bottom: 0px;
  max-width: 100%;
  z-index: 50;
  background: $leftpane-bg;

  transition: all 0.5s ease-in-out;
  transform: translate3d(-100%, 0, 0);

  @extend .accelerate;

  .leftpane-opened & {
    transform: translate3d(0, 0, 0);
  }

  .leftpane-samples & {
    transform: translateX(-100%) translateX(remify($samples-width));
  }

  .zen-mode & {
    transform: translateX(-100%);
  }

}

// ------------------------------------------------------ ABOUT
#about {
  position: absolute;
  height: 100%;
  left: 0px;
  right: percentage($samples-width / $leftpane-width);

  padding: 2em;

  oveflow-y: auto;
  // color: #fff;

  header {
    text-align: center;
  }

  logo {
    font-size: 5em;
    margin-bottom: 2rem;
  }

  .container {
    max-width: 650px;
  } 

  .notice {
    opacity: 0.5;
  }
  .file-select {
    margin-top: 2em;
    position: relative;
    .btn-success {
      position: relative;
      z-index: 2;
      transition: all 0.5s ease;
    }
    .progress {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      width: 14em;
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 0;
      transition: all 0.5s ease;
    }
    &.processing {
      .btn-success {
        opacity: 0;
        visibility: hidden;
      }
      .progress {
        opacity: 1;
      }
    }
  }

}

// ------------------------------------------------------ SAMPLES
#samples {
  position: absolute;
  height: 100%;
  right: 0px;
  width: remify($samples-width);
  background: $samples-bg;

  img {
    cursor:pointer;
    max-width: 100%;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-bottom: 0.3em;
  }
}

// ------------------------------------------------------ VIEWER
#viewer {
  z-index: 1;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  transition: all 0.5s ease-in-out;

  .alerts {
    position: absolute;
    width: remify(400px);
    max-width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: all 0.5s ease-in-out;

    .zen-mode & {
      opacity: 0;
    }    
  }

  .depthy-viewer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    .icon-loading {
      font-size: 32px;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1em;
      line-height: 1em;
      text-align: center;
      margin-left: -0.5em;
      margin-top: -0.5em;
      z-index: 2;

      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease;

      .depthy-loading & {
        transition: all 0.2s 0.2s ease;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    pointer-events: none;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);

    transition: all 0.2s ease-in-out;
    opacity: 0;
    .depthy-ready & {
      opacity: 1;
    }

    html.no-webgl & {
      display: none;
    }
  }

  .buttons-options {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: remify(30px) 0;
    text-align:center;
    z-index: 20;
    transition: all 0.5s ease-in-out;

    background: linear-gradient(to bottom, fade-out($body-bg, 1),fade-out($body-bg, 0.7) 70%,fade-out($body-bg, 0.6) 100%);

    >.btn-ctrl:not(:first-child) {
      margin-left: remify(20px);
    }

    >.btn-group {
      margin-right: 3px;
    }

    .zen-mode &, &.ng-hide {
      display: block!important;
      transform: translateY(100%) translateY(remify(60px));
    }

  }


  .leftpane-samples & {
    transform: translateX(remify($samples-width / 2));
  }
  
  @media #{$media-desktop} {
    .leftpane-opened & {
      transform: translateX(remify($leftpane-width / 2));
    }
  }
}

// ------------------------------------------------------ POPUPS

#popup {
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // z-index: 20;

  .popup-clicker {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 60;
  }
  .popup {
    z-index: 61;
    position: absolute;
    width: 100%;
    max-width: remify(400px);
    text-align: center;
    bottom: remify(-30px);
    background: fade-out($body-bg, 0.3);
    // box-shadow: inset 0px 0px 32px 2px $body-bg;
    background-image: linear-gradient(to bottom, fade-out($body-bg, 0.1),fade-out($body-bg, 1) remify(100px));

    left: 50%;
    padding: remify(30px);
    padding-bottom: remify(60px);

    transform: translateX(-50%);

    @extend .anim-slideup-centered;
    .zen-mode & {
      transform: translate(-50%, 100%) translateY(remify(60px));
    }

    .close {
      padding: remify(10px);
      box-sizing: content-box;
      position: absolute;
      top: 0px;
      right: 0px;
    }

    .popup-title {
      @extend h4;
      margin-top: remify(-10px);
      margin-bottom: remify(20px);
    }

    .popup-footer {
      margin-top: remify(20px);
      margin-bottom: remify(-10px);
    }


  }

}




// ---------------------------------------------------------------------------  OLDIES

#file {
  // background: #125267;
  background: linear-gradient(to bottom, darken($body-bg, 12%) 0%,darken($body-bg, 8%) 2em);
  border-top: 1px solid lighten($body-bg, 0%);
  text-align: center;
  padding: 2em 0em;
  position: relative;
  // min-height: 80vh;



  .images {
    // line-height: 80vh;
    // padding: 1em 0;
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1em 0;

    html.touch & {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }



    .image {
      display: inline-block;
      position: relative;
      margin: 0em 1em;
      img {
        max-width: 70vw;
        max-height: 80vh;
        // max-width: 100%;
        width: auto;
        height: auto;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
      }

      &+.image {
      }
    }

  }


}


footer {
  background: linear-gradient(to bottom, darken($body-bg, 14%) 0%,darken($body-bg, 10%) 2em);
  border-top: 1px solid lighten($body-bg, 0%);
  color: fade-out(#fff, 0.6);
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: fade-out(#fff, 0.4);
    }    
  }
}

.export-modal {
  .progress {
    width: 50%;
    margin: 0.5em auto;
  }
  .export-progress {
    margin: 3em auto;
  }
  .export-image {
    &>img {
      max-width: 80vw;
      max-height: 50vh;
      margin-bottom: 1em;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    }
  }
}