$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$color-accent: #2BBFF0;

$body-bg: #092933;
$text-color: #fff;
$well-bg: rgba(0,0,0,0.2);
$headings-font-weight: 700;
$headings-color: $color-accent;

$brand-primary: $color-accent;
$brand-danger: #F83A2D;
$brand-success: #47A447;
$brand-warning: #F8D920;
$state-warning-text: #F8D920;

// $border-radius-base: 0px;
@import "_bootstrap.scss";

// bower:scss
// endbower








@import "_common.scss";
@import "_elements.scss";
@import "_poor.scss";
