$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$color-accent: #2BBFF0;

$body-bg: #092933;
$text-color: #fff;
$well-bg: rgba(0,0,0,0.2);
$headings-font-weight: 700;
$headings-color: $color-accent;

$brand-primary: $color-accent;
$brand-danger: #F83A2D;
$brand-success: #47A447;
$brand-warning: #F8D920;

// $border-radius-base: 0px;
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    width: 100%;
    height: 100%;
}

/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 0px;

    height: 100%;
    background: darken($body-bg, 10%);
    // color: #fff;
}

.notice {
    font-family: $font-family-serif;
    font-style: italic;    
}

.alert {
    max-width: 700px;
    margin: 0 auto 2em auto;
    background: transparent;
    font-weight: bold;
    border: none;        
    text-align: center;
}

.container {
    // max-width: 600px;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    color: darken($headings-color, 10%);
    $shadow-color: #000;
    text-shadow: 3px 3px 0px fade-out($shadow-color, 0.9)
               , 2px 2px 0px fade-out($shadow-color, 0.9)
               , 1px 1px 0px fade-out($shadow-color, 0.9)
               ;
}

header {
    padding: 2em 0 2em 0;
    background: $body-bg;
    // color: #fff;
    .container {
        max-width: 650px;
    }
    h1 {
        color: $color-accent;
        text-transform: uppercase;
        margin: 0 0 2rem 0;
        font-size: 5em;
        letter-spacing: -1px;
        font-weight: bold;
        $shadow-color: #000;
        text-shadow: 6px 6px 0px fade-out($shadow-color, 0.9)
                   , 5px 5px 0px fade-out($shadow-color, 0.9)
                   , 4px 4px 0px fade-out($shadow-color, 0.9)
                   , 3px 3px 0px fade-out($shadow-color, 0.9)
                   , 2px 2px 0px fade-out($shadow-color, 0.9)
                   , 1px 1px 0px fade-out($shadow-color, 0.9)
                   ;
    }
    a, a:hover {
        color: inherit;
    }
    p a {
        text-decoration: underline;
    }
    .notice {
        opacity: 0.5;
    }
    .file-select {
        margin-top: 1em;
        position: relative;
        .btn-success {
            position: relative;
            z-index: 2;
            transition: all 0.5s ease;
        }
        .progress {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0;
            width: 14em;
            transform: translate(-50%, -50%);
            z-index: 1;
            opacity: 0;
            transition: all 0.5s ease;
        }
        &.processing {
            .btn-success {
                opacity: 0;
                visibility: hidden;
            }
            .progress {
                opacity: 1;
            }
        }
    }
}

#error {
    $error-bg: darken($brand-danger, 35%);
    background: linear-gradient(to bottom, darken($error-bg, 4%) 0%,$error-bg 2em);
    border-top: 1px solid lighten($error-bg, 2%);
    text-align: center;
    padding: 2em;
    overflow: hidden;
    transition: all 0.5s ease;
    max-height: 200px;

    h2 {
        color: $brand-danger;
    }
    a {
        margin-top: 1em;
    }

    &.ng-hide {
        max-height: 0px;
        display: block!important;
        padding: 0;
        border-top-width: 0;
    }

}

#file {
    // background: #125267;
    background: linear-gradient(to bottom, darken($body-bg, 12%) 0%,darken($body-bg, 8%) 2em);
    border-top: 1px solid lighten($body-bg, 0%);
    text-align: center;
    padding: 2em 0em;
    position: relative;
    // min-height: 80vh;



    .images {
        // line-height: 80vh;
        // padding: 1em 0;
        position: relative;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 1em 0;

        html.touch & {
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
        }



        .image {
            display: inline-block;
            position: relative;
            margin: 0em 1em;
            img {
                max-width: 70vw;
                max-height: 80vh;
                // max-width: 100%;
                width: auto;
                height: auto;
                box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
            }

            &+.image {
            }
        }

    }


}

#viewer {
    background: linear-gradient(to bottom, darken($body-bg, 8%) 0%,darken($body-bg, 5%) 2em);
    border-top: 1px solid lighten($body-bg, 6%);
    padding: 2em 0;

    canvas {
        margin:0 auto 2em auto;
        // width: 1024px;
        // height: 1024px;
        display: block;
        pointer-events: none;
    }

    html.no-webgl canvas {
        display: none;
    }

}

footer {
    background: linear-gradient(to bottom, darken($body-bg, 14%) 0%,darken($body-bg, 10%) 2em);
    border-top: 1px solid lighten($body-bg, 0%);
    color: fade-out(#fff, 0.6);
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
    a {
        color: inherit;
        text-decoration: underline;
        &:hover {
            color: fade-out(#fff, 0.4);
        }    
    }
}
