$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$color-back: #092933;
$color-accent: #2BBFF0;

$border-radius-base: 0px;
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    width: 100%;
    height: 100%;
}

/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 0px;

    height: 100%;
    background: $color-back;
    color: #fff;
}

.notice {
    font-family: $font-family-serif;
    font-style: italic;    
}

.container {
    // max-width: 600px;
}

header {
    padding: 2em 0 2em 0;
    background: $color-back;
    color: #fff;
    .container {
        max-width: 650px;
    }
    h1 {
        color: $color-accent;
        text-transform: uppercase;
        margin: 0 0 2rem 0;
        font-size: 5em;
        letter-spacing: -1px;
        font-weight: bold;
        $shadow-color: #000;
        text-shadow: 6px 6px 0px fade-out($shadow-color, 0.9)
                   , 5px 5px 0px fade-out($shadow-color, 0.9)
                   , 4px 4px 0px fade-out($shadow-color, 0.9)
                   , 3px 3px 0px fade-out($shadow-color, 0.9)
                   , 2px 2px 0px fade-out($shadow-color, 0.9)
                   , 1px 1px 0px fade-out($shadow-color, 0.9)
                   ;
    }
    a, a:hover {
        color: inherit;
    }
    p a {
        text-decoration: underline;
    }
    .notice {
        opacity: 0.5;
    }
    .btn-success {
        margin-top: 1em;
    }
}

#file {
    // background: #125267;
    background: linear-gradient(to bottom, darken($color-back, 8%) 0%,darken($color-back, 5%) 7%);
    border-top: 1px solid lighten($color-back, 4%);
    text-align: center;
    padding: 2em 0em;
    position: relative;
    min-height: 80vh;

    .alert {
        max-width: 700px;
        margin: 0 auto 2em auto;
        background: transparent;
        font-weight: bold;
        border: none;        
    }

    .images {
        // line-height: 80vh;
        // padding: 1em 0;
        position: relative;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 1em 0;

        html.touch & {
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
        }



        .image {
            display: inline-block;
            position: relative;
            margin: 0em 1em;
            img {
                max-width: 70vw;
                max-height: 80vh;
                // max-width: 100%;
                width: auto;
                height: auto;
                box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
            }

            &+.image {
            }
        }

    }


}

#viewer {
    background: #092933;
}

footer {
    background: darken($color-back, 5%);
    color: fade-out(#fff, 0.5);
    text-align: center;
    padding: 0.5em;
    font-size: 0.9em;
    a {
        color: inherit;
        text-decoration: underline;
        &:hover {
            color: #fff;
        }    
    }
}