<div class="option"><!-- <label>Speed</label> --><div class="range-stepper" ng-model="viewer.animateDuration" range-stepper="{units:'s'}" data-values="[
    {value:0.07, label:'x_X'}, 1, 2, 4, 6
  ]"></div></div><div class="option"><!-- <label>Animation</label> --><div class="range-stepper" ng-model="viewer.animateScale" range-stepper data-values="[
    {value:{x:1, y:0}, label: 'Horizontal'},
    {value:{x:1, y:1}, label: 'Circular'},
    {value:{x:0, y:1}, label: 'Vertical'}
  ]"><div class="rs-thumb"><svg width="20" height="20"><ellipse cx="10" cy="10" rx="{{Math.max(0.5, v.value.x * 9)}}" ry="{{Math.max(0.5, v.value.y * 9)}}" fill="none" stroke="white" stroke-width="2"></ellipse></svg></div></div></div>