<div class="option">
  <!-- <label>Speed</label> -->
  <div class="btn-group">
    <div class="btn btn-default btn-sm" ng-model="viewer.animDuration" btn-radio="0.07" ga>x_X</div>
    <!-- <div class="btn btn-default btn-sm" ng-model="viewer.animDuration" btn-radio="0.128" ga>.128s</div> -->
    <!-- <div class="btn btn-default btn-sm" ng-model="viewer.animDuration" btn-radio="0.5" ga>.5s</div> -->
    <div class="btn btn-default btn-sm" ng-model="viewer.animDuration" btn-radio="1" ga>1s</div>
    <div class="btn btn-default btn-sm" ng-model="viewer.animDuration" btn-radio="2" ga>2s</div>
    <div class="btn btn-default btn-sm" ng-model="viewer.animDuration" btn-radio="4" ga>4s</div>
    <div class="btn btn-default btn-sm" ng-model="viewer.animDuration" btn-radio="6" ga>6s</div>
  </div>
</div>
<div class="option">
  <!-- <label>Animation</label> -->
  <div class="btn-group" ng-model="viewer.animScale" bs-radio-group>
    <div class="btn btn-default btn-sm btn-icon" ng-model="viewer.animScale" btn-radio="{x:1, y:0}" title="Left-right movement" ga><i class="icon icon-loop-flat"></i></div>
    <div class="btn btn-default btn-sm btn-icon" ng-model="viewer.animScale" btn-radio="{x:1, y:0.5}" title="Wide ellipse movement" ga><i class="icon icon-loop-ellipse"></i></div>
    <div class="btn btn-default btn-sm btn-icon" ng-model="viewer.animScale" btn-radio="{x:1, y:1}" title="Circle movement" ga><i class="icon icon-loop-circle"></i></div>
    <div class="btn btn-default btn-sm btn-icon" ng-model="viewer.animScale" btn-radio="{x:0.5, y:1}" title="Narrow ellipse movement" ga><i class="icon icon-loop-ellipse icon-rotate-90"></i></div>
    <div class="btn btn-default btn-sm btn-icon" ng-model="viewer.animScale" btn-radio="{x:0, y:1}" title="Top-bottom movement" ga><i class="icon icon-loop-flat icon-rotate-90"></i></div>
  </div>
</div>



