<div class="option">
  <label>Speed</label>
  <div class="btn-group">
    <button type="button" class="btn btn-default btn-sm" ng-model="viewer.animDuration" btn-radio="0.5">Insane</button>
    <button type="button" class="btn btn-default btn-sm" ng-model="viewer.animDuration" btn-radio="1">Standard</button>
    <button type="button" class="btn btn-default btn-sm" ng-model="viewer.animDuration" btn-radio="2">Sloow</button>
  </div>
</div>
<div class="option">
  <label>Animation</label>
  <div class="btn-group" ng-model="viewer.animScale" bs-radio-group>
    <button type="button" class="btn btn-default btn-sm" ng-model="viewer.animScale" btn-radio="{x:1, y:0}"><i class="icon icon-loop-flat"></i></button>
    <button type="button" class="btn btn-default btn-sm" ng-model="viewer.animScale" btn-radio="{x:1, y:0.5}"><i class="icon icon-loop-ellipse"></i></button>
    <button type="button" class="btn btn-default btn-sm" ng-model="viewer.animScale" btn-radio="{x:1, y:1}"><i class="icon icon-loop-circle"></i></button>
    <button type="button" class="btn btn-default btn-sm" ng-model="viewer.animScale" btn-radio="{x:0.5, y:1}"><i class="icon icon-loop-ellipse icon-rotate-90"></i></button>
    <button type="button" class="btn btn-default btn-sm" ng-model="viewer.animScale" btn-radio="{x:0, y:1}"><i class="icon icon-loop-flat icon-rotate-90"></i></button>
  </div>
</div>



