<section id="draw" ng-controller="DrawCtrl">
  <div class="options">
    <div class="btn-group">
      <button class="btn btn-default btn-control" ng-click="close()" title="Finish drawing"><i class="icon icon-yes"></i></button>

      <button class="btn btn-default btn-control" ng-click="drawer.toggleUndo()" ng-disabled="drawer.getUndoMode() == 0" title="Undo"><i class="icon icon-{{drawer.getUndoMode() <= 0 ? 'undo' : 'redo'}}"></i></button>

      <button class="btn btn-default btn-control" ng-click="togglePreview()" title="Preview"><i class="icon icon-eye"></i></button>

      <button class="btn btn-default btn-control" ng-model="picker" btn-checkbox btn-checkbox-true="'once'" title="Picker"><i class="icon icon-meter"></i></button>

      <button class="btn btn-default btn-control"  ng-model="picker" btn-checkbox  btn-checkbox-true="'keep'" title="Picker"><i class="icon icon-expand"></i></button>

    </div>
    <br/>
    <div class="option">
      <div class="range-slider" ng-model="drawOpts.depth" range-stepper="{snap: 0}" data-values="[
        {value:0, label: 'Close'},
        {value:0.25, label: ''},
        {value:0.5, label: ''},
        {value:0.75, label: ''},
        {value:1, label: 'Far'}
      ]">
        <div class="rs-title">depth</div>
        <div class="rs-thumb">
          <svg width="16" height="16">
            <circle cx="8" cy="8" r="7" fill="black" stroke="#ffffff" stroke-width="2"></circle>
            <circle cx="8" cy="8" r="7" opacity="{{getValue(v)}}" fill="white" stroke="#ffffff" stroke-width="2"></circle>
          </svg>
        </div>
      </div>
    </div>

    <div class="option">
      <div class="range-slider" ng-model="drawOpts.size" range-stepper="{snap: 0}" data-values="[
        {value:.005, label: 'Small'},
        {value:.025, label: ''},
        {value:.05, label: ''},
        {value:.2, label: ''},
        {value:.4, label: 'Large'}
      ]">
        <div class="rs-title">size</div>
        <div class="rs-thumb">
          <svg width="16" height="16">
            <circle cx="8" cy="8" r="{{Math.max(1, Math.min(8, getValue(v) / .4 * 8))}}" fill="white" stroke="none"></circle>
          </svg>
        </div>
      </div>
    </div>

    <div class="option">
      <div class="range-stepper" ng-model="drawOpts.hardness" range-stepper="{snap: 0}" data-values="[
        {value:0.0, label: 'Soft'},
        {value:0.5, label: ''},
        {value:1.0, label: 'Hard'}
      ]">
        <div class="rs-thumb">
          <svg width="16" height="16">
            <circle cx="8" cy="8" r="{{Math.max(1, Math.min(8, getValue(v) * 8))}}" fill="white" stroke="none"></circle>
            <circle cx="8" cy="8" r="7" fill="none" stroke="#ffffff" stroke-width="2"></circle>
          </svg>
        </div>
      </div>
    </div>

    <div class="option">
      <div class="range-stepper" ng-model="drawOpts.opacity" range-stepper="{snap: 0}" data-values="[
        {value:0.05, label: 'Transparent'},
        {value:0.5, label: 'Semi'},
        {value:1, label: 'Opaque'}
      ]">
        <div class="rs-thumb">
          <svg width="16" height="16">
            <circle cx="8" cy="8" r="7" opacity="{{getValue(v)}}" fill="white"></circle>
          </svg>
        </div>
      </div>
    </div>

    Preview
    <div class="option">
      <div class="btn-group btn-group-justified">
        <div class="btn btn-default" ng-model="viewer.depthPreview" btn-radio="0.0" ga>0.0</div>
        <div class="btn btn-default" ng-model="viewer.depthPreview" btn-radio="0.25" ga>0.25</div>
        <div class="btn btn-default" ng-model="viewer.depthPreview" btn-radio="0.50" ga>0.5</div>
        <div class="btn btn-default" ng-model="viewer.depthPreview" btn-radio="0.75" ga>0.75</div>
        <div class="btn btn-default" ng-model="viewer.depthPreview" btn-radio="1.0" ga>1.0</div>
      </div>
    </div>

    Spacing
    <div class="option">
      <div class="range-stepper" ng-model="drawOpts.spacing" range-stepper="{snap: 0}" data-values="[
        0, 1
      ]"></div>

    Slope
    <div class="option">
      <div class="range-stepper" ng-model="drawOpts.slope" range-stepper="{snap: 0}" data-values="[
        0.1, 0.9
      ]"></div>


    Blend
    <div class="option">
      <div class="btn-group btn-group-justified">
        <div class="btn btn-default" ng-model="drawOpts.blend" btn-radio="0" ga>N</div>
        <div class="btn btn-default" ng-model="drawOpts.blend" btn-radio="1" ga>+</div>
        <div class="btn btn-default" ng-model="drawOpts.blend" btn-radio="2" ga>*</div>
        <div class="btn btn-default" ng-model="drawOpts.blend" btn-radio="3" ga>S</div>
      </div>
    </div>

  </div>


</section>