<div class="modal-header">
  <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
  <h4 class="modal-title">{{imageReady ? 'Here is your GIF!' : 'Generating GIF'}}</h4>
</div>
<div class="modal-body">
  
  <div class="export-progress" ng-if="!imageReady">
    <div class="progress progress-striped active">
      <div class="progress-bar" role="progressbar" ng-style="{width: exportProgress * 100 + '%'}">
      </div>
    </div>
    <p class="text-muted text-center" ng-if="Modernizr.mobile">Generating GIFs on a mobile is a tedious task. If it takes too long, choose a 
    smaller size or make it shorter...</p>
  </div>

  <div class="text-center export-image" ng-show="imageReady">
    <img src="" title="Size is {{imageSize / 1024 / 1024 | number: 2}}MB" />
    <p>{{Modernizr.mobile ? 'Press and hold the image' : 'Right-click the image'}} to save your GIF, it's yours to take!</p>
    <p ng-if="Modernizr.android && Modernizr.chrome && imageSize > 1000000" class="text-center text-warning">
      Due to the bug in Chrome the option to save the GIF can be greyed out. You'll have to make it smaller or share it.
    </p>
    <p ng-if="imageOverLimit" class="text-center text-warning">
      Your GIF came out really <b>big</b>! It's {{imageSize / 1024 / 1024 | number: 2}}MB in size which makes it too big to share.
      Share it on your own, or make it smaller...
    </p>
    <div ng-if="!imageOverLimit">
      <p><em class="text-muted">or</em></p>
      <div ng-switch="shareUrl" class="export-share">
        <div ng-switch-when="">
          <p class="text-danger" ng-if="shareError">Something went wrong when uploading. Please try again.</p>
          <button class="btn btn-success btn-lg" ng-click="share()" ga="['send', 'event', 'export', 'share', send]"><i class="icon icon-cloud-upload"></i>Share it!</button><br/>
          <p class="text-muted disclaimer">
            <em>Your photo will be uploaded to <a href="http://imgur.com" target="_blank">Imgur.com</a>.<br/>It will remain relatively private until you share it too much and it will go viral.</em>
          </p>
        </div>
        <div ng-switch-when="sharing">
          <div class="progress progress-striped active">
            <div class="progress-bar" role="progressbar" ng-style="{width: shareProgress * 100 + '%'}">
            </div>
          </div>
          <p class="text-muted">Uploading, please wait...</p>
        </div>
        <div ng-switch-default>
          Your GIF is now uploaded to:<br/>
          <p class="text-primary"><a href="{{shareUrl}}" target="_blank">{{shareUrl}}</a></p>
          <p>
            Copy this link and use it however you want or share it:<br/>
            <i class="icon link-share icon-twitter" share-popup="twitter" share-options="share" ga="['send', 'event', 'export', 'share', 'twitter']"></i>
            <i class="icon link-share icon-facebook" share-popup="facebook" share-options="share" ga="['send', 'event', 'export', 'share', 'facebook']"></i>
            <i class="icon link-share icon-googleplus" share-popup="google" share-options="share" ga="['send', 'event', 'export', 'share', 'google']"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="$close()">Close</button>
</div>


