<button type="button" class="close" aria-hidden="true" ng-click="activePopup.reject()">&times;</button>
<div class="popup-title">
  How do you want your GIF?
</div>
<div class="popup-content scrollable">
  <div class="option">
    <!-- <label>Size</label> -->
    <div class="btn-group">
      <div class="btn btn-default" ng-model="depthy.exportSize" btn-radio="150">Small</div>
      <div class="btn btn-default" ng-model="depthy.exportSize" btn-radio="300">Standard</div>
      <div class="btn btn-default" ng-model="depthy.exportSize" btn-radio="500">Large</div>
    </div>
  </div>
  <!--
  <div class="option">
    <label>Type</label>
    <div class="btn-group">
      <button type="button" class="btn btn-primary" ng-model="depthy.exportType" btn-radio="'gif'">GIF</button>
      <button type="button" class="btn btn-primary" ng-model="depthy.exportType" btn-radio="'webm'">WebM</button>
    </div>
  </div>
  -->
  <div ng-include="'views/options-animation.html'"></div>
  <div ng-include="'views/options-movement.html'"></div>
</div>
<div class="popup-footer">
  <button class="btn btn-success btn-md" ng-click="etActivePopup().resolve(); exportGifRun()"><i class="icon icon-yes"></i>C'mon!</button>&nbsp;
  <!-- <button class="btn btn-default" ng-click="etActivePopup().reject()">Nah...</button> -->
</div>
