<div class="modal-header">
  <h4 class="modal-title">Extracted images</h4>
</div>
<div class="modal-body" fileselect="info.depthFiles" >
  <ul class="images">
    <li ng-if="depthy.hasDepthmap()">
      <h4>Depthmap</h4>
      <img image-source="depth">
    </li>
    <li ng-if="depthy.hasOriginalImage()">
      <h4>Original image</h4>
      <img image-source="alternative">
    </li>
  </ul>
  <p class="text-muted text-center" ng-if="depthy.hasDepthmap() || depthy.hasAlternativeImage()">
    {{Modernizr.mobile ? 'Press and hold the images' : 'Right-click the images'}} to save them.
    
  </p>
  <p>You can now create and edit depthmaps in a program of your choice! They just should be monochromatic and of the same size as the original image. The darker the spot, the closer it is.</p>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="selectFile($event)"><i class="icon" ng-class="isDepthmapProcessing ? 'icon-loading' : 'icon-open'"></i>{{depthy.hasDepthmap() ? 'Change' : 'Open' }} depthmap</button>
  <button class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>

