<header>
    <div class="container text-center">
        <h1>Depthy</h1>
        <p class="lead">Extract depth map and original image from<br/>photos made with <a href="https://play.google.com/store/apps/details?id=com.google.android.GoogleCamera" target="_blank">Google Camera</a>'s Lens Blur.</p>
        <p>
            Make a photo using Lens Blur mode, select it below, save both extracted images and play around with them.
            Photos are processed on your device, nothing is uploaded to our servers!
        </p>
        <a class="btn btn-lg btn-success" ng-href="#" ng-click="selectFile($event)">Select the Lens Blur image</a>
        <div class="notice" ng-if="!Modernizr.mobile">or drag&amp;drop it anywhere</div>
    </div>
</header>
<div id="file">
    <h2 ng-if="imageSource || depthSource">Extracted images</h2>
    <div class="alert alert-danger" ng-if="compoundError">{{compoundError}}</div>
    <!-- <img id="compound" ng-src="{{compoundSource}}"> -->
    <div class="images">
        <div id="image" class="image" ng-class="{empty: !imageSource}">
            <img ng-if="imageSource" ng-src="{{imageSource}}">
        </div>
        <div id="depth" class="image" ng-class="{empty: !depthSource}">
            <img ng-if="depthSource" ng-src="{{depthSource}}">
        </div>
    </div>
    <!-- {{metaData}} -->

</div>

<div id="viewer" ng-controller="ViewerCtrl" ng-hide="!compoundSize">
    <div class="alert alert-danger" ng-if="!Modernizr.webgl">
        Your browser does not support WebGL :(
    </div>
    <div class="text-center" ng-if="Modernizr.webgl && compoundSize">
        <h2>Parallax view</h2>
        <p class="text-muted">Move your {{Modernizr.devicemotion && Modernizr.mobile ? 'device' : 'cursor'}} around to see the effect</p>
    </div>
    <canvas pixi="stage" pixi-animate="pixiAnimate" pixi-transparent="true" pixi-renderer="'webgl'"  shown-eval="$parent.viewerVisible = true">
    </canvas>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="viewCompound = !viewCompound" ng-class="{active: viewCompound}">View as shot</button>
    </div>

</div>

<footer>
    Depthy 0.1 made by <a href="http://www.stamina.pl/">Rafał Lindemann</a>.
    Open sourced on <a href="https://github.com/panrafal/depthy">GitHub</a>
</footer>