<div id="main" ng-controller="MainCtrl" 
  ng-class="{
    'leftpane-opened': depthy.isLeftpaneOpened() === true, 
    'leftpane-samples': depthy.isLeftpaneOpened() === 'samples', 
    'zen-mode': depthy.zenMode,
    'depthy-ready': depthy.isReady(),
    'depthy-loading': depthy.isLoading()}"
  ng-swipe-right="depthy.leftpaneOpen()"
  ng-swipe-left="depthy.leftpaneClose()"
>
  <nav id="navbar" class="text-right">
    <logo ng-click="depthy.leftpaneToggle()"><span>depthy</span></logo>
    <!-- <button class="btn btn-ctrl btn-success" ng-click="selectFile($event)" title="Open"><i class="icon" ng-class="depthy.isLoading() ? 'icon-loading' : 'icon-open'"></i></button> -->
  </nav>

  <div id="leftpane">
    <section id="about">
      <header>
        <logo><span>depthy</span></logo>
        <p class="lead">Poke around with awesome photos<br/>made with <a href="https://play.google.com/store/apps/details?id=com.google.android.GoogleCamera" target="_blank">Google Camera</a>'s Lens Blur.</p>
      </header>
      <article>
        <p>
          Make a photo using Lens Blur mode and load it using the button below.<br/>
          Photos are processed on your device - no uploading!
          <span ng-if="!Modernizr.mobile"><br/>It works on your Android device too!</span>
        </p>
        <div class="file-select">
          <div class="btn btn-lg btn-success" ng-click="selectFile($event)"><i class="icon" ng-class="depthy.isLoading() ? 'icon-loading' : 'icon-open'"></i>Open Lens Blur photo</div>
        </div>
        <em class="text-muted" ng-if="!Modernizr.mobile">or drag&amp;drop it anywhere</em>
      </article>
      <footer>
        Depthy 0.1.1 created by <a href="http://www.stamina.pl/">Rafał Lindemann</a>.<br/>
        Ideas? Issues? Code? It's open sourced on <a href="https://github.com/panrafal/depthy">GitHub</a>!
      </footer>
    </section>
    <section id="samples">
      <img src="samples/flowers-thumb.jpg" ng-click="loadSample('flowers')">
      <img src="samples/hut-thumb.jpg"  ng-click="loadSample('hut')">
      <img src="samples/shelf-thumb.jpg"  ng-click="loadSample('shelf')">
      <img src="samples/mango-thumb.jpg"  ng-click="loadSample('mango')">
      <img src="samples/tunnel-thumb.jpg"  ng-click="loadSample('tunnel')">
    </section>
  </div>


  <section id="viewer">
    <div class="alerts">
      <div class="alert alert-danger" ng-if="!Modernizr.webgl">
        <p>Your browser does not support WebGL...</p>
      </div>
      <div class="alert alert-info" ng-if="depthy.hasImage() && depthy.movearoundShow">
        <p>Move your {{Modernizr.devicemotion && Modernizr.mobile ? 'device' : 'cursor'}} around to see the effect</p>
      </div>
      <div class="alert alert-info" ng-if="!depthy.isLoading() && !depthy.hasImage()">
        <p>No image loaded.</p>
        <p>Click <span class="btn btn-link btn-success" ng-click="selectFile($event)">open</span> to load one of Your photos, or choose one of the <span class="btn btn-link" ng-click="depthy.leftpaneOpen(true)">samples</span>.</p>
      </div>
      <div class="alert alert-info" ng-if="!depthy.isLoading() && depthy.hasImage() && !depthy.hasDepthmap()">
        <p>The loaded image does not contain depth information.</p>
        <p><span class="btn btn-link btn-success" ng-click="selectFile($event)">Open</span> another one shot with Google Camera's LensBlur, choose one of the <span class="btn btn-link" ng-click="depthy.leftpaneOpen(true)">samples</span>, or <span class="btn btn-link" ng-click="imageInfo()">load the depthmap</span> by hand.</p>
      </div>
    </div>
    <div class="depthy-viewer" depthy-viewer="depthy.viewer" ng-click="depthy.zenModeToggle()" >
      <canvas></canvas>
      <div class="icon icon-loading anim-fade" ng-show="depthy.isLoading()"></div>
    </div>
    <div class="buttons-options" ng-show="!getActivePopup()">

      <div class="btn-group dropdown dropup">
        <button type="button" class="btn btn-ctrl btn-default dropdown-toggle" ng-disabled="!depthy.hasCompleteImage()" title="Share">
          <i class="icon icon-share"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="exportGifOptions()">Export GIF</a></li>
          <li><a ng-click="exportPngRun()">Export PNG</a></li>
          <li><a ng-click="sharePngRun()">Share</a></li>
        </ul>
      </div>
      <button class="btn btn-ctrl btn-default" ng-click="imageInfo()" ng-disabled="depthy.isLoading()" title="Info" ga><i class="icon icon-image"></i></button>
      <button class="btn btn-ctrl btn-default" ng-click="imageOptions()" ng-disabled="!depthy.isReady()" title="Options" ga><i class="icon icon-settings"></i></button>


    </div>
  </section>
  <section id="popup">
    <!-- <div class="clicker"  ng-show="!!getActivePopup()" ng-click="getActivePopup().reject()"></div> -->
    <div class="popup options-popup" ng-show="!!depthy.optionsPopuped" ng-include="'views/options-popup.html'">
    </div>
    <div class="popup export-popup" ng-if="!!depthy.exportPopuped" ng-include="'views/export-popup.html'">
    </div>
  </section>

</div>