<div id="main" ng-controller="MainCtrl" 
  ng-class="{
    'leftpane-opened': depthy.isLeftpaneOpened() === true, 
    'leftpane-gallery': depthy.isLeftpaneOpened() === 'gallery', 
    'zen-mode': depthy.zenMode,
    'draw-mode': depthy.drawMode,
    'offline': depthy.isOffline(),
    'depthy-ready': depthy.isReady(),
    'depthy-loading': depthy.isLoading()}"
>
  <div id="hamburger" class="icon icon-navicon-bold" ng-click="depthy.leftpaneToggle()"></div>
  <nav id="navbar" class="text-right">
    <!-- <logo class="white" ng-click="depthy.leftpaneOpen()"></logo> -->
    <!-- <button class="btn btn-ctrl btn-success" ng-click="selectFile($event)" title="Open"><i class="icon" ng-class="depthy.isLoading() ? 'icon-loading' : 'icon-open'"></i></button> -->
    <div class="btn-group">
      <button class="btn btn-default btn-control" ng-click="screenfull.toggle()" ng-if="screenfull.enabled && !screenfull.isFullscreen" title="Fullscreen" ga><i class="icon icon-expand"></i></button>
    </div>
  </nav>

  <div id="leftpane" ng-swipe-left="depthy.leftpaneClose()">
    <div class="scroll">

      <section id="about">
        <header>
          <div class="logo" ng-include="'images/logo.svg'" ng-click="depthy.leftpaneClose()"></div>
          <p class="lead">
            the third dimension viewer
          </p>
        </header>
        <article class="text-center">
          <div class="button-open btn btn-lg btn-success center-block" ng-click="selectFile($event)"><i class="icon" ng-class="depthy.isLoading() ? 'icon-loading' : 'icon-open'"></i>Open photo</div>
        </article>
      </section>

      <section class="alert alert-warning alert-icon anim-expand" ng-if="depthy.isOffline()">
        <i class="icon icon-powercord"></i>
        You're working offline.<br/>Some feature may not be available!
      </section>      
      <section class="alert alert-success alert-icon alert-button anim-expand" ng-if="depthy.gotUpdate">
        <i class="icon icon-loop"></i>
        <div class="btn btn-success btn-sm pull-right" ng-click="depthy.reload()">Reload</div>
        <div class="alert-body">
          There is a new version available!
        </div>
      </section>
      <section class="alert alert-success alert-icon alert-button anim-expand" ng-if="depthy.newStuff.length">
        <i class="icon icon-trophy"></i>
        <div class="btn btn-success btn-sm pull-right" ng-click="depthy.hideNewStuff()">Got it!</div>
        <div class="alert-body">
          New stuff in this version:
          <div ng-repeat="info in depthy.newStuff">{{info}}</div>
        </div>
      </section>

      <section id="gallery">
        <ul>
          <li class="" ng-repeat="image in depthy.gallery" ng-style="{'background-image':'url('+image.thumb+')'}" ng-click="openImage(image)" ng-class="'type-' + image.getType()" ng-if="image.isAvailable()"></li>
        </ul>
      </section>

      <section class="text-center" id="share">
        <div class="btn-group btn-group-shares btn-group-justified">
          <div class="btn btn-icon btn-twitter" share-popup="twitter" share-options="depthy.share" ga="['send', 'event', 'depthy', 'share', 'twitter']"><i class="icon icon-twitter"></i></div>
          <div class="btn btn-icon btn-facebook" share-popup="facebook" share-options="depthy.share" ga="['send', 'event', 'depthy', 'share', 'facebook']"><i class="icon icon-facebook"></i></div>
        </div>
        <div class="btn-group btn-group-shares btn-group-justified">
          <div class="btn btn-sm btn-twitter" share-popup="twitter-follow" share-options="{name: 'staminapl'}" ga="['send', 'event', 'depthy', 'follow', 'twitter']"><i class="icon icon-twitter"></i>Follow</div>
        </div>
      </section>

      <section id="footer">
        Depthy <span ng-click="debugClicked()">{{version}}</span> created by <a href="http://www.stamina.pl/">Rafał Lindemann</a>.<br/>
        Ideas? Issues? Code? It's open sourced on <a href="https://github.com/panrafal/depthy">GitHub</a>!
      </section >


    </div>
  </div>


  <section id="viewer">
    <div class="alerts">

      <div class="panel panel-danger" ng-include="!Modernizr.webgl ? 'views/alert-webgl.html' : null"></div>

      <div class="alert alert-info" ng-if="depthy.isReady() && depthy.movearoundShow" ng-click="depthy.movearoundShow = false">
        <p>Move your {{Modernizr.devicemotion && Modernizr.mobile ? 'device' : 'cursor'}} around to see the effect</p>
      </div>

      <div class="panel panel-danger" ng-include="(Modernizr.webgl && !depthy.isLoading() && !depthy.hasImage()) ? 'views/alert-noimage.html' : null"></div>

      <div class="panel panel-warning" ng-include="(Modernizr.webgl && !depthy.isLoading() && depthy.hasImage() && !depthy.hasDepthmap()) ? 'views/alert-nodepth.html' : null"></div>

    </div>

    <div class="depthy-viewer" depthy-viewer="depthy.viewer" ng-click="depthy.zenModeToggle()" 
      ng-swipe-right="depthy.leftpaneOpen()"
    >
      <canvas></canvas>
      <div class="icon icon-loading"></div>
    </div>

    <div class="buttons-options" ng-show="!depthy.activePopup">
      <div class="btn-group">
        <button class="btn btn-default btn-control" ng-click="shareOptions()" ng-disabled="!depthy.hasCompleteImage() || !depthy.isReady()" title="Share"><i class="icon icon-share"></i></button>
        <button class="btn btn-default btn-control" ng-click="imageOptions()" ng-disabled="!depthy.hasCompleteImage() || !depthy.isReady()" title="Options" ga><i class="icon icon-settings"></i></button>
        <button class="btn btn-default btn-control" ng-click="imageInfo()" ng-disabled="!Modernizr.webgl || !depthy.hasImage() || depthy.isLoading()" title="Info" ga><i class="icon icon-image"></i></button>
        <button class="btn btn-default btn-control" ng-click="drawDepthmap()" ng-disabled="!Modernizr.webgl || !depthy.hasImage() || depthy.isLoading()" title="Paint" ga><i class="icon icon-draw"></i></button>
      </div>
    </div>
  </section>
  <span ng-include="depthy.drawMode ? 'views/draw.html' : null"></span>
  <section id="popup">
    <!-- <div class="clicker"  ng-show="!!getActivePopup()" ng-click="getActivePopup().reject()"></div> -->
    <div class="popup options-popup" ng-show="depthy.activePopup.state === 'image.options'" ng-include="'views/options-popup.html'">
    </div>
    <div class="popup export-popup" ng-include="depthy.activePopup.state === 'export.gif.options' ? 'views/export-gif-popup.html' : null">
    </div>
    <div class="popup export-popup" ng-include="depthy.activePopup.state === 'export.webm.options' ? 'views/export-webm-popup.html' : null">
    </div>
    <div class="popup share-popup" ng-show="depthy.activePopup.state === 'share.options'" ng-include="'views/share-popup.html'">
    </div>

  </section>

</div>
