<div class="option">
  <!-- <label>Scale</label> -->
  <div class="btn-group">
    <div class="btn btn-default" ng-model="viewer.depthScale" btn-radio="0.5" ga>Calm</div>
    <div class="btn btn-default" ng-model="viewer.depthScale" btn-radio="1" ga>Normal</div>
    <div class="btn btn-default" ng-model="viewer.depthScale" btn-radio="2" ga>Dramatic</div>
  </div>
</div>
<div class="option">
  <!-- <label>Speed</label> -->
  <div class="btn-group">
    <div class="btn btn-default" ng-model="viewer.depthFocus" btn-radio="0.00" ga>Near</div>
    <!-- <div class="btn btn-default" ng-model="viewer.depthFocus" btn-radio="0.25" ga>0.25</div> -->
    <div class="btn btn-default" ng-model="viewer.depthFocus" btn-radio="0.50" ga>Middle</div>
    <!-- <div class="btn btn-default" ng-model="viewer.depthFocus" btn-radio="0.75" ga>0.75</div> -->
    <div class="btn btn-default" ng-model="viewer.depthFocus" btn-radio="1.00" ga>Far</div>
  </div>
</div>
