<div class="option">
  <!-- <label>Speed</label> -->
  <div class="range-stepper" ng-model="viewer.animateDuration" range-stepper="{units:'s'}" data-values="[
    {value:0.07, label:'x_X'}, 1, 2, 4, 6
  ]"></div>

</div>
<div class="option">
  <!-- <label>Animation</label> -->

  <div class="range-stepper" ng-model="viewer.animateScale" range-stepper data-values="[
    {value:{x:1, y:0}},
    {value:{x:1, y:1}},
    {value:{x:0, y:1}}
  ]">
    
  </div>

  <div class="btn-group btn-group-justified" ng-model="viewer.animateScale" bs-radio-group>
    <div class="btn btn-default btn-icon" ng-model="viewer.animateScale" btn-radio="{x:1, y:0}" title="Left-right movement" ga><i class="icon icon-loop-flat"></i></div>
    <div class="btn btn-default btn-icon" ng-model="viewer.animateScale" btn-radio="{x:1, y:0.5}" title="Wide ellipse movement" ga><i class="icon icon-loop-ellipse"></i></div>
    <div class="btn btn-default btn-icon" ng-model="viewer.animateScale" btn-radio="{x:1, y:1}" title="Circle movement" ga><i class="icon icon-loop-circle"></i></div>
    <div class="btn btn-default btn-icon" ng-model="viewer.animateScale" btn-radio="{x:0.5, y:1}" title="Narrow ellipse movement" ga><i class="icon icon-loop-ellipse icon-rotate-90"></i></div>
    <div class="btn btn-default btn-icon" ng-model="viewer.animateScale" btn-radio="{x:0, y:1}" title="Top-bottom movement" ga><i class="icon icon-loop-flat icon-rotate-90"></i></div>
  </div>
</div>



