<div class="popover-content scrollable">
  <div class="option">
    <!-- <label>Size</label> -->
    <div class="btn-group">
      <div class="btn btn-default btn-sm" ng-model="viewer.animate" btn-radio="false">Self-control</div>
      <div class="btn btn-default btn-sm" ng-model="viewer.animate" btn-radio="true">Hypnotize</div>
    </div>
  </div>
  <div ng-include="viewer.animate ? 'views/options-animation.html' : null"></div>
  <div ng-include="'views/options-movement.html'"></div>
  <div ng-include="'views/options-style.html'"></div>
</div>
<div class="popover-footer">
  <button class="btn btn-default btn-sm" ng-click="$dismiss()">OK</button>
</div>
