<!-- <button type="button" class="close" aria-hidden="true" ng-click="activePopup.reject()">&times;</button> -->
<div class="popup-content scrollable">

  <button class="btn btn-primary btn-block" ng-click="sharePngRun()"><i class="icon icon-share"></i>Share</button>
  <button class="btn btn-default btn-block" ng-click="exportGifOptions()">Export GIF</button>
  <button class="btn btn-default btn-block" ng-click="exportPngRun()">Export PNG</button>
</div>
<div class="popup-footer">
  <button class="btn btn-default btn-block" ng-click="activePopup.reject()">Not now</button>
</div>
